

body{
   background-color: bisque; 
   margin:50px;

    
}

.image-title {
      width: 300px;
      border: 20px solid rgb(175, 101, 149);
      padding: 50px;
      margin: auto;


}
h3{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

.center{
   width: 300px;
   border: 20px solid rgb(175, 101, 149);
   padding: 50px;
   margin: auto;

}