

.body{
   background-color: bisque; 
   margin: 100px 30px 60px 100px;
   font-style: oblique;
   font-size: large;
}

.image-title {
      width: 300px;
      border: 20px solid rgb(175, 101, 149);
      padding: 50px;
      margin: auto;


}
h3{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
